<div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            {% for category in categories %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">15 Products</p>
                    <a href="{{ category.get_absolute_url }}" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{{ category.get_category_photo }}" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">{{ category }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>