

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    {% block favicon %}
    {% endblock %}

    {% include "components/_style.html" %}

</head>

<body>

    <!-- Topbar Start -->
<!--    {% include "components/_topbar.html" %}-->
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% block navbar %}
    {% endblock %}

    <!-- Navbar End -->

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <!-- Footer Start -->
    {% include "components/_footer.html" %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    {% include "components/_javascript.html" %}
</body>

</html>