{% extends "base.html" %}
{% load static %}

{% block title %}
 {{ title }}
{% endblock %}

{% block favicon %}
    <link href="img/favicon.ico" rel="icon">
{% endblock %}

{% block navbar %}
  {% include "shop/components/_navbar_index.html" %}
{% endblock %}

{% block main %}
    <!-- Featured Start -->
    {% include "shop/components/_featured.html" %}
    <!-- Featured End -->


    <!-- Categories Start -->
    {% include "shop/components/_categories.html" %}
    <!-- Categories End -->

    <!-- Offer Start -->
    {% include "shop/components/_offer.html" %}
    <!-- Offer End -->


    <!-- Trandy Products Start -->
    {% include "shop/components/_trandy_products.html" %}
    <!-- Products End -->


    <!-- Subscribe Start -->
    {% include "shop/components/_subscribe.html" %}
    <!-- Subscribe End -->


    <!--Just Arrived Products Start -->
    {% include "shop/components/_just_arrived.html" %}
    <!-- Products End -->


    <!-- Vendor Start -->
    {% include "shop/components/_vendor.html" %}

    <!-- Vendor End -->
{% endblock %}